.layoutHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height !important;
  padding: 0 10px !important;
  line-height: $header-height !important;
  background-color: #fff !important;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  .leftOptions {
    display: flex;
    align-items: center;
    height: 100%;
    .menuFold {
      padding: 0 24px 0 0;
      cursor: pointer;
    }
  }

  .rightOptions {
    display: flex;
    align-items: center;

    > * {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
