@import './variables.scss';
@import './transition.scss';
@import './mixin.scss';

.page-content {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background: $bg-color;
  margin: 16px;
}

#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    opacity: 0.75;
  }
}
