$header-height: 50px;
$footer-height: 70px;

// 全局主色
$color-base: #1890ff;

/* 行为相关颜色 */
$color-primary: $color-base;
$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #ff4d4f;

/* 文字颜色 */
$text-color: rgba(0, 0, 0, 0.85);
$text-color-white: #fff;
$text-color-grey: rgba(0, 0, 0, 0.45);
$text-color-disable: rgba(0, 0, 0, 0.25);
$text-color-link: $color-base;

/* 文字尺寸 */
$font-size-base: 14px;
$font-size-mini: 10px;
$font-size-sm: 12px;
$font-size-lg: 16px;

/* 背景颜色 */
$bg-color: #fff;
$bg-color-back: #000;
$bg-color-grey: #f0f2f5;
$bg-color-hover: #f5f5f5;
$bg-color-purple: #722ed1;
$bg-color-cyan: #13c2c2;
$bg-color-green: #52c41a;
$bg-color-magenta: #eb2f96;
$bg-color-pink: #eb2f96;
$bg-color-red: #f5222d;
$bg-color-orange: #fa8c16;
$bg-color-yellow: #fadb14;
$bg-color-volcano: #fa541c;
$bg-color-geekblue: #2f54eb;
$bg-color-lime: #a0d911;
$bg-color-gold: #faad14;
$bg-color-mask: rgba(0, 0, 0, 0.45); // 遮罩颜色

/* 边框颜色 */
$border-color: #d9d9d9;
$border-color-grey: #f0f0f0;

/* 边框圆角 */
$border-radius-sm: 2px;
$border-radius-base: 3px;
$border-radius-lg: 6px;
$border-radius-circle: 50%;
