.my-model-fullscreen {
  overflow: hidden;
  .ant-modal {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100%;
    padding-bottom: 0;
  }
  .ant-modal-content {
    height: 100%;
  }
  .ant-modal-header {
    padding-right: 90px;
  }
}

.my-model-close-fullscreen {
  @include flexRCC;
  height: 100%;
  margin-left: -32px;
  & > span {
    width: 40px;
    &:last-child {
      margin-right: 10px;
    }
  }
}
