.myAvatar {
  @include flexRCC;
  height: $header-height;
  line-height: $header-height;
  padding: 0 10px;
  overflow: hidden;
  font-size: $font-size-base;
  cursor: pointer;
  transition: background 0.3s;
  &:global(.ant-dropdown-open) {
    background-color: $bg-color-hover;
  }

  .name {
    color: $text-color-grey;
    padding: 0 12px;
  }

  .icon {
    font-size: $font-size-sm;
  }
}


