.appFooter {
  position: absolute;
  bottom: 0;
  z-index: 10;

  .copyright {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);

    .version {
      padding-left: 10px;
    }
  }
}
